label.title{
    display: block;
    text-align: center;
    position: relative;
    bottom: 150px;
    font-size: 28px;
}

input.email {
    color: black;
    display: block;
    position: relative;
    padding-left: 120px;
    padding-bottom: 20px;
    bottom: 40px;
}

label.enterEmail{
    display: block;
    position: relative;
    text-align: center;
    font-size: 18px;
    bottom: 120px;
}

input.password{
    color: black;
    display: block;
    position: relative;
    padding-left: 120px;
    padding-bottom: 20px;
}

label.enterPassword{
    display: block;
    position: relative;
    text-align: center;
    font-size: 18px;
    bottom: 80px;
}

button.submit{
    display: block;
    position: relative;
}

