label.title{
    margin: auto;
    display: block;
    text-align-last: center;
    position: relative;
    top: 250px;
    font-size: 28px;
}

input.email {
    margin: auto;
    display: block;
    position: relative;
    top: 350px;
    padding-left: 120px;
    padding-bottom: 20px;
}

label.enterEmail{
    margin: auto;
    display: block;
    position: relative;
    text-align: center;
    top: 275px;
    font-size: 18px;
}

input.password{
    margin: auto;
    display: block;
    position: relative;
    top: 400px;
    padding-left: 120px;
    padding-bottom: 20px;
}

label.enterPassword{
    margin: auto;
    display: block;
    position: relative;
    text-align: center;
    top: 325px;
    font-size: 18px;
}

button.submit{
    margin: auto;
    display: block;
    position: relative;
    top: 430px
}

